:root {
  --first-color: #faf07f;
  --second-color: #ffa061;
  --third-color: #fec081;
  --fourth-color: #f9f9fb;
  --fifth-color: #616161;
  --sixth-color: #bb2121;
  --shadow: 6px 6px 9px #00000031, -6px -6px 9px #a3a0a013;
  --shadow-inset: inset 6px 6px 9px #00000031, inset -6px -6px 9px #a3a0a025;
  --font: "Open Sans";
}

*,
*:before,
*:after {
  padding: 0;
  text-decoration: none;
  font-family: var(--first-font), sans-serif;
  font-weight: normal;
}
/* Body content */
body {
  margin: 0;
  color: var(--fifth-color);
  line-height: 1.4;
  font-size: 20px;
  background: var(--third-color);
}

/* header content */
header {
  background: var(--first-color);
  padding: 5px 0;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  border-bottom: 4px solid var(--second-color);
}
header .logo img {
  color: var(--fifth-color);
  width: 16rem;
  margin-top: -50px;
  margin-bottom: -50px;
  float: left;
}

/* advice wrapper */
.advice-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

/* advice request content */
.advice-request {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advice-request p {
  width: 200px;
  max-width: 95vw;
  padding: 3px;
  margin-right: 20px;
  margin-bottom: 15px;
  border: none;
  outline: none;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border-radius: 3px;
  font-size: 30px;
  transition: 0.2s ease-out;
}
.advice-request button {
  width: 200px;
  height: 5vh;
  margin-bottom: 20px;
  border: none;
  outline: none;
  align-items: center;
  text-align: center;
  background-color: var(--second-color);
  border-radius: 10px;
  box-shadow: var(--shadow);
  font-size: 1rem;
  font-weight: 300;
  transition: 0.2s ease-out;
}
.advice-request button:active {
  box-shadow: var(--shadow-inset);
}

/* Advice content */
.advice-container {
  flex: 1 1 100%;
  padding: 100px 0px 30px;
  width: 500px;
  height: 500px;
  margin: 1.5rem auto;
  margin-bottom: -600px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 2.5rem;
  box-shadow: var(--shadow);
  background-color: var(--fourth-color);
  border: 3px solid var(--second-color);
}
.advice-text p {
  color: var(--third-color);
  font-size: 45px;
}
.advice-text img {
  color: var(--fifth-color);
  width: 16rem;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
}

/* footer content*/
footer {
  background: var(--first-color);
  border-top: 4px solid var(--second-color);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 36px 0 20px;
  text-align: center;
}
footer p {
  font-size: 12px;
  color: var(--fifth-color);
  font-weight: 600;
  display: inline-block;
  margin: 0 20px 5px;
}
